.create-part {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 242, 245);
}

.heading {
    width: 100%;
    height: 80px;
    background-color: #3A4BCD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-div {
    margin:4px, 4px;
    padding:4px;
    width: 1200px;
    height: 1300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    /* border: 1px solid; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.title-questions {
    width: 100%;
    height: 100px;
    background-color: #3A4BCD;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-title {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-title h2 {
    color: #fff;
    font-size: 30px;
}