:root {
    --primary: #3acbf7;
    
}

/* Category */
.container {
    width: 800px;
    height: 220px;
    border: 1px solid rgb(180, 177, 177);
    border-radius: 10px;
    position: relative;
    padding: 30px 30px;
    margin: 30px auto;
    display: flex;
}

.btn-category {
    background-color: #3A4BCD;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    right: 0;
    bottom: 0;
    border:none;
    cursor: pointer;
}

.btn-category a {
    text-decoration: none;
    color: #fff;
}

.image {
    display: flex;
    margin-right: 30px;
}

.image img {
    margin: auto;
    width: 100px;
    height: 100px;
}

.text {
    border-bottom: 1px solid rgb(180, 177, 177);
    padding-bottom: 30px;
}

.container-children p {
    font-size:14px;
    display: inline-block;
    margin-top: 15px;
}


.container-footer {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: space-between;
    padding: 20px 0;
}





